*.exe filter=lfs diff=lfs merge=lfs -text
trivy filter=lfs diff=lfs merge=lfs -text
SoftwareSigner* filter=lfs diff=lfs merge=lfs -text
SoftwareVerifier* filter=lfs diff=lfs merge=lfs -text
KeyGenerator* filter=lfs diff=lfs merge=lfs -text
